td.gloss {
    background: #feffb0;
}

.complete {
    background: #55bb55;
}

.partial {
    background: yellow;
}

div#commenters-list-container {
    position:relative;
}

div#commenters-list {
    font-size:smaller;
    padding:1em;
    line-height: 2.8em;
    z-index:200;
    border:1px solid black;
    background:#f5f5f5;
    position:absolute;
    top:0;
    left:0;
}

div#commenters-list span {
    border:1px solid #000000;
    border-radius: 1em;
    padding:0.5em;
    font-family:sans;
    background:white;
    z-index:210;
}

table#rules-list-admin td {
    text-align: left;
    border:2px solid #bbbbbb;
    border-radius:1em;
    padding: 0.5em;
}

table#rules-list-admin td.label:hover {
    background: #eeeeee;
    cursor:pointer;
}

table#rules-list-commenters td {
    text-align: left;
    border:2px solid #bbbbbb;
    border-radius:1em;
    padding: 0.5em;
}

table#rules-list-commenters td:hover {
    background: #eeeeee;
    cursor:pointer;
}

div#commenters-list-phantom {
    font-size:smaller;
    padding:1em;
    line-height: 2.8em;
    visibility:hidden;
    border:1px solid black;
}

div#commenters-list-phantom span {
    border:1px solid #000000;
    border-radius: 1em;
    padding:0.5em;
    font-family:sans;
    visibility:hidden;
}
