thead {
    font-weight:bold;
}

tr.inactive {
  color:#999999;  
  background:#f5f5f5;
}

div#commenter-list-container {
    overflow:auto;
}

td.language-bubbles span {
    border: 1px solid black;
    font-family: sans;
    padding: 0.5em;
    border-radius: 1em;
    font-size: smaller;
}

td.language-bubbles span:hover {
    cursor:pointer;
    background:#eeeeee;
}
