h1 {
    font-size: 100%;
}

ol#quiz-questions div.choice {
    position: relative;
    margin-left: 15px;
}
ol#quiz-questions .selection {
    position: absolute;
    left: -10px;
}

ol#quiz-questions .selection-text {
    margin-left: 15px;
    vertical-align: top;
}
