div#quiz-mistakes {
     margin-bottom:2em;
}

.language-bubble {
    font-family:mono;
    border:1px solid black;
    padding: 0.3em;
    border-radius:1em;
    background:white;
    float:right;
    margin-top:-0.8em;
}

.wrong-answer {
    position:relative;
}

div.rule-container {
    font-size:larger;
    position:relative;
    border: 0.4em solid #30c001;
    border-radius: 1em;
    margin: 6px 0 6px 1em;
    padding: 0.5em 1em 0.5em 1em;
}

div.rule-button {
    position: absolute;
    right:0.5em;
    top:0.3em;
}

