ol#quiz-questions div.choice {
    position: relative;
}


ol#quiz-questions textarea.selection {
    position: absolute;
    left: -10px;
    top: 0px;
}

ol#quiz-questions .selection-text {
    margin-left: 15px;
    display: inline-block;
}
