.correct-students-label {
    margin: 6px 0 6px 1em;
    font-style: italic;
}

.correct-students-list {
    margin: 6px 0 6px 3em;
}

div.students-container {
    border: 1px solid #aaaaaa;
    margin: 0 0 0 1em;
}

div.rule-container {
    font-size:larger;
    position:relative;
    border: 0.4em solid #30c001;
    border-radius: 1em;
    margin: 6px 0 6px 1em;
    padding: 0.5em 1em 0.5em 1em;
}

div.rule-text {
    font-weight: bold;
    margin: 0.1em 0 0.5em 0;
}

div.rule-gloss {
    margin-left:1em;
}



table#rules-for-lang {
    table-layout: fixed;
    width: 100%;
}

table#rules-for-lang td {
    border:2px solid #bbbbbb;
    border-radius:1em;
    padding: 0.5em;
    text-align: left;
}

table#rules-for-lang td.left:hover {
    background: #eeeeee;
    cursor:pointer;
}

td.show-box {
    vertical-align: top;
    border: none !important;
    padding: 0 !important;
}

td.left textarea {
    width: 100%;
    height: 5em;
    resize:none;
}

td.edit-box {
    vertical-align: top;
    border-radius: 0 !important;
}

td.edit-box textarea {
    width: 100%;
    height: 10em;
    resize:none;
}

td.right {
    text-align: left !important;
    border:none !important;
}

td.needs-gloss {
    border-width: 3px !important;
    border-color: #ffbbbb !important;
}

input.float-right {
    float:right;
}
table#rules-for-lang {
    table-layout: fixed;
    width: 100%;
}

table#rules-for-lang td {
    border:2px solid #bbbbbb;
    border-radius:1em;
    padding: 0.5em;
    text-align: left;
}

table#rules-for-lang td.left:hover {
    background: #eeeeee;
    cursor:pointer;
}

td.show-box {
    vertical-align: top;
    border: none !important;
    border-radius: 0 !important;
}

td.left textarea {
    width: 100%;
    height: 5em;
    resize:none;
}

td.edit-box {
    vertical-align: top;
    border-radius: 0 !important;
}

td.edit-box textarea {
    width: 100%;
    height: 10em;
    resize:none;
}

td.right {
    text-align: left !important;
    border:none !important;
}

td.needs-gloss {
    border-width: 3px !important;
    border-color: #ffbbbb !important;
}

input.float-right {
    float:right;
}

div.show-box-child {
    background: #eeeeee;
    margin: 0 0 0 1em;
    border: 2px solid #bbbbbb;
    border-radius: 0 !important;
    padding: 0.5em;
    text-align: left;
}
