ul.rule-description-list li {
    margin-bottom: 0.5em;
}

span.cleared-rule-inline {
    border: 2px solid green;
    border-radius: 0.5em;
    padding: 0 0.25em 0 0.25em;
}

span.study-needed-rule-inline {
    border: 2px solid #dddd00;
    background: #ffffdd;
    border-radius: 0.5em;
    padding: 0 0.25em 0 0.25em;
}

span.untested-rule-inline {
    border: 2px solid #aaaaaa;
    border-radius: 0.5em;
    padding: 0 0.25em 0 0.25em;
}


pre.show-box-child {
    background: #eeeeee;
    margin: 0 0 0 0;
    border: 2px solid #bbbbbb;
    border-radius: 0 !important;
    padding: 0.5em;
    text-align: left;
    white-space: pre-wrap;
}

div.show-box-child {
    background: #eeeeee;
    margin: 0 0 0 0;
    border: 2px solid #bbbbbb;
    border-radius: 0 !important;
    padding: 0.5em;
    text-align: left;
}

.correct-students-label {
    margin: 6px 0 6px 1em;
    font-style: italic;
}

.correct-students-list {
    margin: 6px 0 6px 3em;
}

div.students-container {
    border: 1px solid #aaaaaa;
    margin: 0 0 0 1em;
}

div.rule-container {
    font-size:larger;
    position:relative;
    border: 0.4em solid #30c001;
    border-radius: 1em;
    margin: 6px 0 6px 1em;
    padding: 0.5em 1em 0.5em 1em;
}

div.rule-text {
    font-weight: bold;
    margin: 0.1em 0 0.5em 0;
}

div.rule-gloss {
    margin-left:1em;
}

div.rule-gloss table td {
    border:2px solid #bbbbbb;
    border-radius:1em;
    padding: 0.5em;
    text-align: left;
}

table#rules-for-lang {
    table-layout: fixed;
    width: 100%;
}

table#rules-for-lang td {
    border:2px solid #bbbbbb;
    border-radius:1em;
    padding: 0.5em;
    text-align: left;
}

table#rules-for-lang td.cleared-rule {
    border: 3px solid green;
}

table#rules-for-lang td.study-needed-rule {
    border: 4px solid yellow;
    background: #ffffdd;
}

table#rules-for-lang td.left:hover {
    background: #eeeeee;
    cursor:pointer;
}

td.show-box {
    vertical-align: top;
    border: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

td.left textarea {
    width: 100%;
    height: 5em;
    resize:none;
}

td.edit-box {
    vertical-align: top;
    border-radius: 0 !important;
}

td.edit-box textarea {
    width: 100%;
    height: 10em;
    resize:none;
}

td.right {
    text-align: left !important;
    border:none !important;
}

td.needs-gloss {
    border-width: 3px !important;
    border-color: #ffbbbb !important;
}

td.needs-gloss.disabled-rule {
    border-width: 3px !important;
    border-color: #ff0000 !important;
}

input.float-right {
    float:right;
}

div.float-left {
    float:left;
}

div#profile-chart {
    height:500px;
    width:800px;
}

