div#options input{  
	margin-left: 15px;    
}  
ul {  
    list-style-type: none;  
}  
div#wrapper{  
	width: 500px;    
	background-color:#FAFAFA;  
	padding: 10px;
	padding-bottom: 35px;  
}  
#nextButton{  
    float:right;  
    width: 100px;  
	height: 25px;  
}  
ul#options div.choice {
    position:relative;
}
ul#options input {
    position: absolute;
    left: -10px;
}
ul#options div.label{
    display: block;
    margin-left: 15px;
}
