div.rubric {
    margin-top: 2em;
    font-size: 120%;
}

ol {
    list-style-type: none;
}
ol#quiz-questions div.choice {
    position: relative;
    margin-left: 15px;
}
ol#quiz-questions input.selection {
    position: absolute;
    left: -10px;
}

ol#quiz-questions textarea.selection {
    display: block-inline;
    margin-left: 15px;
    vertical-align: top;
}

ol#quiz-questions .selection-text {
    display: block;
    margin-left: 15px;
    vertical-align: top;
}
